unpackaged/main/default/flows/Account_New_Live_Event_Coverate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignPointOfContact</name>
        <label>assignPointOfContact</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>tmpPointOfContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_formEventPointOfContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Coverage_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecordType</name>
        <label>assignRecordType</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formType_of_Live_Event_request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhatTypeOfLiveEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assignPointOfContact</name>
        <label>Copy 1 of assignPointOfContact</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>tmpPointOfContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formEventPointOfContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Coverage_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_saveProduct</name>
        <label>Copy 1 of saveProduct</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Live_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpFormProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTmpLiveobject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_tmpAssignBGSManager</name>
        <label>Copy 1 of tmpAssignBGSManager</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>tmpBGSProjectManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBGSProjectManager.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Communication_Channel_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCommunicationURL.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkHoursAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tmpAssignBGSManager</name>
        <label>tmpAssignBGSManager</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>tmpBGSProjectManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_formBGSProjectManager.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Communication_Channel_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_formCommunicationURL.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_saveProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateAccountLiveEventHoursAvailable</name>
        <label>updateAccountLiveEventHoursAvailable</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Live_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpformProduct1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTmpLiveobject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateTmpLiveobject</name>
        <label>updateTmpLiveobject</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Event_Point_Of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpPointOfContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.BGS_Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpBGSProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLiveEventCoverageObj.Live_Event_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLiveEventURL.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createLiveEventCoverage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>tmpLEChannelMonitoring</name>
        <choiceText>Live Event 24/7 Channel Monitoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0128F000000klxUQAQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpLECStandard</name>
        <choiceText>Live Event Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0128F000000klxTQAQ</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkHoursAvailable</name>
        <label>checkHoursAvailable</label>
        <locationX>226</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>formNoHoursAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hoursAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord.Live_Event_Support_hours_available__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>tmpHoursRequested</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isProbono</targetReference>
            </connector>
            <label>hoursAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProbono</name>
        <label>isProbono</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>updateAccountLiveEventHoursAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isProbonoOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tmpLiveEventCoverageObj.Pro_bono__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTmpLiveobject</targetReference>
            </connector>
            <label>isProbonoOn</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatTypeOfLiveEvent</name>
        <label>WhatTypeOfLiveEvent</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>updateTmpLiveobject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LEStandard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formType_of_Live_Event_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tmpLECStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Live_Event_Coverage</targetReference>
            </connector>
            <label>LEStandard</label>
        </rules>
        <rules>
            <name>X247ChannelMonitoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formType_of_Live_Event_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tmpLEChannelMonitoring</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Live_Event_Coverage</targetReference>
            </connector>
            <label>247ChannelMonitoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>whatTypeOfRequest</name>
        <label>whatTypeOfRequest</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLESStandard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formType_of_Live_Event_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tmpLECStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccountLiveHoursAvailable</targetReference>
            </connector>
            <label>isLESStandard</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>tmpProduct</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Live_Product__c</picklistField>
        <picklistObject>Live_Event_Coverage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>tmpHoursRequested</name>
        <dataType>Number</dataType>
        <expression>({!tmpLiveEventCoverageObj.Coverage_End_Date_Time__c}- {!tmpLiveEventCoverageObj.Coverage_Start_Date_Time__c} ) *24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>tmpNewLiveHoursAvailable</name>
        <dataType>Number</dataType>
        <expression>{!getAccountRecord.Live_Event_Support_hours_available__c} - {!tmpHoursRequested}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account - New Live Event Coverate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - New Live Event Coverage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createLiveEventCoverage</name>
        <label>createLiveEventCoverage</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>whatTypeOfRequest</targetReference>
        </connector>
        <inputReference>tmpLiveEventCoverageObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mainFormChooseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountLiveHoursAvailable</name>
        <label>updateAccountLiveHoursAvailable</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Live_Event_Support_hours_available__c</field>
            <value>
                <elementReference>tmpNewLiveHoursAvailable</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Coverage_Information</name>
        <label>Copy 1 of Coverage Information</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>tmpAssignBGSManager</targetReference>
        </connector>
        <fields>
            <name>form247MonitoringTitle2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;24/7 Channel Monitoring information request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_formCoverage_Information</name>
            <fieldText>Coverage Informatio</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_formCoverage_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.BGS_Managed_Event__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_formCoverage_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_formBGSProjectManager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BGS Project Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>tmpBGSProjectManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_formDate_Time_Information</name>
            <fieldText>Date/Time Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_formDate_Time_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Timezone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>tmpLiveEventCoverageObj.Encoder_Being_Used__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>tmpLiveEventCoverageObj.Encoder_Version__c</objectFieldReference>
        </fields>
        <fields>
            <name>Copy_1_of_Coverage_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Coverage_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Coverage_Start_Date_Time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Coverage_End_Date_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Coverage_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Contract_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <name>tmpFormProduct</name>
                    <choiceReferences>tmpProduct</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Live_Event_Coverage</name>
        <label>Copy 1 of Live Event Coverage</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignPointOfContact</targetReference>
        </connector>
        <fields>
            <name>formTitleMonitoring</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;24/7 Channel Monitoring information request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Account_Information</name>
            <fieldText>Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_tmpAccountName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Account Name&lt;/strong&gt;: {!getAccountRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Owner&lt;/strong&gt;: &lt;/p&gt;&lt;p&gt;{!getAccountRecord.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getAccountRecord.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Support Package&lt;/strong&gt;: {!getAccountRecord.Support_package__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_formTypeOfLE</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Live Event&lt;/strong&gt;: &lt;/p&gt;&lt;p&gt;{!tmpLiveEventCoverageObj.RecordType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Personel_Information</name>
            <fieldText>Personel Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Personel_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_formEventPointOfContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Event Point of Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CampaignMember</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>tmpPointOfContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Live_Event_Coverage_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Live_Event_Coverage_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Contact_Email__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Phone_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Publisher_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Live_Event_Category__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Number_of_concurrent_streams__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Communication_Channel__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_1_of_formCommunicationURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Communication URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Live_Event_Coverage_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Language__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Pro_bono__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Additional_Contacts__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Reported_Issues__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Coverage_Information</name>
        <label>Coverage Information</label>
        <locationX>226</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_tmpAssignBGSManager</targetReference>
        </connector>
        <fields>
            <name>formCoverage_Information</name>
            <fieldText>Coverage Informatio</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>formCoverage_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.BGS_Managed_Event__c</objectFieldReference>
                </fields>
                <fields>
                    <name>formBGSProjectManager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BGS Project Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>tmpBGSProjectManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>formCoverage_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Contract_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>form2Account_Information</name>
            <fieldText>Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>form2Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>form2AccountInformation</name>
                    <fieldText>&lt;p&gt;Please verify the information below before requesting additional hours:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: &lt;strong&gt;{!getAccountRecord.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Support Package: &lt;strong&gt;{!getAccountRecord.Support_package__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>form2Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>form2AccountInformationSection2</name>
                    <fieldText>&lt;p&gt;Total Number of Live Hours Support event: &lt;strong&gt;{!getAccountRecord.Total_Live_Event_Support_hours_sold__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Number of Event: &lt;strong&gt;{!getAccountRecord.Total_Live_Support_Events__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>formDate_Time_Information</name>
            <fieldText>Event Date/Time Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>formDate_Time_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Timezone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Coverage_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coverage_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Testing_Session_Start_Date_Time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Coverage_Start_Date_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Coverage_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Testing_Session_End_Date_Time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Coverage_End_Date_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>formNoHoursAvailable</name>
        <label>formNoHoursAvailable</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>formErrorHoursDisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There are no hours available to submit this request for this account. Please use the &#39;Back&#39; button to change the Coverage Date/Time information or &#39;Finish&#39; to close this window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Live_Event_Coverage</name>
        <label>Live Event Coverage</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_assignPointOfContact</targetReference>
        </connector>
        <fields>
            <name>Account_Information</name>
            <fieldText>Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formTypeOfLE</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Live Event&lt;/strong&gt;: &lt;/p&gt;&lt;p&gt;{!tmpLiveEventCoverageObj.RecordType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TitleAccountInfomation</name>
                    <fieldText>&lt;p&gt;Total number of Live Event Support hours&lt;strong&gt;: {!getAccountRecord.Total_Live_Event_Support_hours_sold__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>tmpAccountLEHavl</name>
                    <fieldText>&lt;p&gt;Total number of Live Event Support hours available: &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getAccountRecord.Live_Event_Support_hours_available__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tmpAccountName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Account Name&lt;/strong&gt;: {!getAccountRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Owner&lt;/strong&gt;: &lt;/p&gt;&lt;p&gt;{!getAccountRecord.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getAccountRecord.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Support Package&lt;/strong&gt;: {!getAccountRecord.Support_package__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Personel_Information</name>
            <fieldText>Personel Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personel_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formEventPointOfContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Event Point of Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CampaignMember</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Live_Event_Coverage_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Live_Event_Coverage_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Contact_Email__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Phone_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Publisher_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <name>formLiveEventURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Live event URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Live_Event_Category__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Number_of_concurrent_streams__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.MAX_CCU_Estimated__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.High_Profile__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.High_Profile_Event_Notification_Form__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Live_Event_Coverage_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Language__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Pro_bono__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Additional_Contacts__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpLiveEventCoverageObj.Communication_Channel__c</objectFieldReference>
                </fields>
                <fields>
                    <name>formCommunicationURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Communication URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>tmpformProduct1</name>
                    <choiceReferences>tmpProduct</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product (mult-choice)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mainFormChooseRecordType</name>
        <label>mainFormChooseRecordType</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignRecordType</targetReference>
        </connector>
        <fields>
            <name>formChooseRecordType</name>
            <fieldText>&lt;p&gt;Please choose the type of Live Event Coverage to create&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tmpToREmove</name>
            <fieldText>&lt;p&gt;Account Name:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!getAccountRecord.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Support Package:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!getAccountRecord.Support_package__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If your request is for &quot;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;em&gt;Premium Monitoring&lt;/em&gt;&amp;nbsp;and&amp;nbsp;&lt;em&gt;Automated Monitoring&quot;, &lt;/em&gt;please choose &quot; Live Event 24/7 Channel Monitoring&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formType_of_Live_Event_request</name>
            <choiceReferences>tmpLEChannelMonitoring</choiceReferences>
            <choiceReferences>tmpLECStandard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Live Event request</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpBGSProjectManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpLiveEventCoverageObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Live_Event_Coverage__c</objectType>
    </variables>
    <variables>
        <name>tmpPointOfContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
