unpackaged/main/default/flows/CaseEscalationT2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>storeCurrentOwnerId</name>
        <label>storeCurrentOwnerId</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OldOwerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>escalatedToQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>escalatedToQueue</name>
        <label>escalatedToQueue</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEscalatedToT2Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_to_T2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T2 Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignT2Dev</targetReference>
            </connector>
            <label>isEscalatedToT2Dev</label>
        </rules>
        <rules>
            <name>isEscalatedToT2Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_to_T2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T2 Production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToT2Prod</targetReference>
            </connector>
            <label>isEscalatedToT2Prod</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CaseEscalationT2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - EscalationT2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQueueT2Dev_ID</name>
        <label>GetQueueT2Dev ID</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>storeCurrentOwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T2_Developer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueT2Prod_ID</name>
        <label>GetQueueT2Prod ID</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueT2Dev_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T2_Production</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assignT2Dev</name>
        <label>assignT2Dev</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>escalationTimeStamp</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueT2Dev_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assignToT2Prod</name>
        <label>assignToT2Prod</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Copy_1_of_escalationTimeUserStamp</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueT2Prod_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_escalationTimeUserStamp</name>
        <label>Copy 1 of escalationTimeUserStamp</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Escalation_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_Escalated__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>escalationTimeStamp</name>
        <label>escalationTimeUserStamp</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Escalation_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_Escalated__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQueueT2Prod_ID</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Assign_to_T2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assign_to_T2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T2 Developer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assign_to_T2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T2 Production</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OldOwerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
