unpackaged/main/default/flows/Case_Coaching_Notes_Needs_Manager_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Coaching_Owner_Null</name>
        <label>Is Coaching Owner Null</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coaching_Owner_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Escalation_Follow_up_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Coaching_Owner</targetReference>
            </connector>
            <label>Coaching Owner is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Coaching_Recipient_Null</name>
        <label>Is Coaching Recipient Null</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Coaching_Owner_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coaching_Recipient_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Escalation_Follow_up_Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Coaching_Recipient</targetReference>
            </connector>
            <label>Coaching Recipient is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CoachingOwnerFormula</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISNULL({!$Record.Escalation_Follow_up_Recipient__c})), {!$Record.Escalation_Follow_up_Recipient__r.Manager.Id}, {!$Record.Owner:User.ManagerId} )</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Case - Coaching Notes - Needs Manager Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Coaching Notes - Needs Manager Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Coaching_Owner</name>
        <label>Update Coaching Owner</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Escalation_Follow_up_Owner__c</field>
            <value>
                <elementReference>CoachingOwnerFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Coaching_Recipient</name>
        <label>Update Coaching Recipient</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_Coaching_Owner_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Escalation_Follow_up_Recipient__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Coaching_Request_Fields</name>
        <label>Update Coaching Request Fields</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Is_Coaching_Recipient_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Follow_up_request_date_time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_requested_by__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>needs_manager_review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Coaching_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Coaching_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Coaching_Notes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
