unpackaged/main/default/flows/Case_CSATSurveyEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_EnglishCSAT_Default</name>
        <label>Copy 1 of EnglishCSAT-Default</label>
        <locationX>2783</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Default</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_FR</name>
        <label>CSAT Survey - Close Case (FR)</label>
        <locationX>2255</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_IT</name>
        <label>CSAT Survey - Close Case (IT)</label>
        <locationX>2519</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_IT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_JP</name>
        <label>CSAT Survey - Close Case (JP)</label>
        <locationX>1463</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_JP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_KO</name>
        <label>CSAT Survey - Close Case (KO)</label>
        <locationX>1991</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_KO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_SP</name>
        <label>CSAT Survey - Close Case (SP)</label>
        <locationX>1727</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_SP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnglishCSAT_Default</name>
        <label>EnglishCSAT-Default</label>
        <locationX>1199</locationX>
        <locationY>1175</locationY>
        <actionName>Case.CSAT_Survey_Default</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateSurveyNumber</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>caseLanguage</name>
        <label>caseLanguage</label>
        <locationX>1991</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_EnglishCSAT_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEnglish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnglishCSAT_Default</targetReference>
            </connector>
            <label>isEnglish</label>
        </rules>
        <rules>
            <name>isJapanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japanese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_JP</targetReference>
            </connector>
            <label>isJapanese</label>
        </rules>
        <rules>
            <name>isSpanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_SP</targetReference>
            </connector>
            <label>isSpanish</label>
        </rules>
        <rules>
            <name>isKorean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korean</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_KO</targetReference>
            </connector>
            <label>isKorean</label>
        </rules>
        <rules>
            <name>isFrench</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_FR</targetReference>
            </connector>
            <label>isFrench</label>
        </rules>
        <rules>
            <name>isItalian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_IT</targetReference>
            </connector>
            <label>isItalian</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseRecordType</name>
        <label>isCaseRecordType</label>
        <locationX>2519</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCaseTechnicalSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>caseLanguage</targetReference>
            </connector>
            <label>isCaseTechnicalSupport</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseSubReason</name>
        <label>isCaseSubReason</label>
        <locationX>473</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>LiveChat_8Hours_SurveySent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOC_Report</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BC Employee Last Day</stringValue>
                </rightValue>
            </conditions>
            <label>NOC Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>isClosedUnresolvedNotEnhancement</name>
        <label>isClosedUnresolvedNotEnhancement</label>
        <locationX>1199</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>isSendSurvey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Unresolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Root_Cause__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enhancement Request</stringValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSendSurvey</name>
        <label>isSendSurvey</label>
        <locationX>1727</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>isCaseRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotifyContactOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notify_Contact_on_Close_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>NotifyContactOff</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSubjectNewPortal</name>
        <label>isSubjectNewPortal</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>isCaseSubReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsNewPortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support Portal New User</stringValue>
                </rightValue>
            </conditions>
            <label>YesIsNewPortalUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>LiveChat_8Hours_SurveySent</name>
        <label>LiveChat-8Hours-SurveySent</label>
        <locationX>803</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>isClosedUnresolvedNotEnhancement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hoursFromCreation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hoursFromCreation</name>
        <dataType>Number</dataType>
        <expression>ABS({!$Flow.CurrentDateTime} -  {!$Record.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case - CSATSurveyEmailAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - CSATSurveyEmailAlertClosedCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateSurveyNumber</name>
        <label>updateSurveyNumber</label>
        <locationX>1991</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Survey_Number__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isSubjectNewPortal</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Notify_Contact_on_Close_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Spam</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed as Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Support Portal New User</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
