unpackaged/main/default/flows/Case_Priority_change_upgraded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Case - Priority change: upgraded</description>
        <name>c</name>
        <label>Case - Priority change: upgraded</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <actionName>Case.Case_Priority_change_upgraded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>getCSEscalationRecordType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>initCaseEscalation</name>
        <label>initCaseEscalation</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCSEscalationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEscalationQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.First_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCSEscalationCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEscalation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_currentPriority</name>
        <label>Copy 1 of currentPriority</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 - Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c</targetReference>
            </connector>
            <label>P1</label>
        </rules>
    </decisions>
    <decisions>
        <name>currentPriority</name>
        <label>currentPriority</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P1_or_P2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 - Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 - Important</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c</targetReference>
            </connector>
            <label>P1 or P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordType</name>
        <label>isRecordType</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>priorPriority</targetReference>
            </connector>
            <label>TechnicalSupport</label>
        </rules>
    </decisions>
    <decisions>
        <name>lastModifiedByCustomers</name>
        <label>lastModifiedByCustomers</label>
        <locationX>1073</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isRecordType</targetReference>
            </connector>
            <label>isCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>priorPriority</name>
        <label>priorPriority</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3 - Normal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentPriority</targetReference>
            </connector>
            <label>P3</label>
        </rules>
        <rules>
            <name>P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 - Important</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_currentPriority</targetReference>
            </connector>
            <label>P2</label>
        </rules>
    </decisions>
    <description>Case - Priority change: upgraded</description>
    <environments>Default</environments>
    <interviewLabel>Case - Priority change: upgraded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Priority change: upgraded by PortalCustomer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEscalation</name>
        <label>createEscalation</label>
        <locationX>446</locationX>
        <locationY>1607</locationY>
        <inputReference>tmpCSEscalationCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCSEscalationRecordType</name>
        <label>getCSEscalationRecordType</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEscalationQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Escalation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEscalationQueue</name>
        <label>getEscalationQueue</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>initCaseEscalation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_Leadership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lastModifiedByCustomers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpCSEscalationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tmpDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The priority of this case was bumped by the customer through the support portal. This escalation is not intended for direct communication with the customer. Please acknowledge the escalation directly on the case.</stringValue>
        </value>
    </variables>
    <variables>
        <name>tmpSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Priority Change </stringValue>
        </value>
    </variables>
</Flow>
