unpackaged/main/default/flows/Case_UpdateSLADueDateTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Copy_1_of_thereIsCaseMilestone</name>
        <label>Copy 1 of thereIsCaseMilestone</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES_thereIsCaseMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasCaseMilestone.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateSLADateTime</targetReference>
            </connector>
            <label>Copy 1 of YES_thereIsCaseMilestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>thereIsCaseMilestone</name>
        <label>thereIsCaseMilestone</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_thereIsCaseMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasCaseMilestone.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSLADateTime</targetReference>
            </connector>
            <label>YES_thereIsCaseMilestone</label>
        </rules>
    </decisions>
    <description>after 1 minute from created date, the case.SLAdueDatetime is populated with CaseMilestone.target date</description>
    <environments>Default</environments>
    <interviewLabel>Case - UpdateSLADueDateTime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - UpdateSLADueDateTime</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_hasCaseMilestone</name>
        <label>Copy 1 of hasCaseMilestone</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_thereIsCaseMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>hasCaseMilestone</name>
        <label>hasCaseMilestone</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>thereIsCaseMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateSLADateTime</name>
        <label>Copy 1 of updateSLADateTime</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>SLA_due_Date_Time__c</field>
            <value>
                <elementReference>hasCaseMilestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSLADateTime</name>
        <label>updateSLADateTime</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>SLA_due_Date_Time__c</field>
            <value>
                <elementReference>hasCaseMilestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>hasCaseMilestone</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>updateSLADueDateTime</name>
            <connector>
                <targetReference>Copy_1_of_hasCaseMilestone</targetReference>
            </connector>
            <label>updateSLADueDateTime</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
