unpackaged/main/default/flows/Case_DealDesk_CreateAssignToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>AutoResponse for Deal Desk case</description>
        <name>Case_DealDesk_Autoresponse_New_case</name>
        <label>Case DealDesk - Autoresponse New case</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Case.Case_DealDesk_Autoresponse_New_case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>getUserID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>updatetmpCaseTeamMember</name>
        <label>updatetmpCaseTeamMember</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseTeamMemberRoleId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseTeamMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isSalesDealDeskType</name>
        <label>isSalesDealDeskType</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSalesDealDeskTypeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_ServiceDesk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSalesDealDeskQueueId</targetReference>
            </connector>
            <label>isSalesDealDeskTypeYes</label>
        </rules>
    </decisions>
    <description>It assigns the newly created Sales Service Desk type cases to the Queue</description>
    <environments>Default</environments>
    <interviewLabel>Case DealDesk - CreateAssignToQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case DealDesk - RevOpsCreateAssignToQueue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCaseTeamMember</name>
        <label>createCaseTeamMember</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <inputReference>tmpCaseTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCaseTeamMemberRoleId</name>
        <label>getCaseTeamMemberRoleId</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatetmpCaseTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesDealDeskQueueId</name>
        <label>getSalesDealDeskQueueId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCaseToQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Service_Desk</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserID</name>
        <label>getUserID</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseTeamMemberRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>brightcove.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assignCaseToQueue</name>
        <label>assignCaseToQueue</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Case_DealDesk_Autoresponse_New_case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getSalesDealDeskQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isSalesDealDeskType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Operations Help</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpCaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
</Flow>
