unpackaged/main/default/flows/Case_CreateHandoff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignCaseHandoffNotes</name>
        <label>assignCaseHandoffNotes</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.Handoff_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpHandoff_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.Accepted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAcceptedByUser.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpHandOffName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseHandoffRecord.From_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseRecord.Owner:User.CS_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseHandoff</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCaseMonitorMyCase</name>
        <label>checkCaseMonitorMyCase</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>formCase_Hanoff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMonitorMyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Monitor_My_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formErrorThe_case_is_monitored</targetReference>
            </connector>
            <label>isMonitorMyCase</label>
        </rules>
        <rules>
            <name>hasOwnerRole</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support_Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Owner:User.CS_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formNeedsOwner</targetReference>
            </connector>
            <label>hasOwnerRole</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>tmpHandOffName</name>
        <dataType>String</dataType>
        <expression>&quot;Case: &quot; &amp; {!getCaseRecord.CaseNumber} &amp; &quot; Handoff -&quot; &amp; TEXT(NOW()) &amp; &quot;-&quot; &amp; TEXT({!$User.CS_Region__c}) &amp; &quot;--&gt;&quot; &amp; TEXT({!tmpCaseHandoffRecord.To_Region__c})</expression>
    </formulas>
    <interviewLabel>Case - CreateHandoff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - CreateHandoff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseHandoff</name>
        <label>createCaseHandoff</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <inputReference>tmpCaseHandoffRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCaseMonitorMyCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_to_access_the_record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>formCase_Hanoff</name>
        <label>Case Hanoff</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCaseHandoffNotes</targetReference>
        </connector>
        <fields>
            <name>formCaseHandoffInformation</name>
            <fieldText>&lt;p&gt;Please provide the information for the case handoff.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Handoff Name: {!tmpHandOffName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: &lt;strong&gt;{!getCaseRecord.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: &lt;strong&gt;{!getCaseRecord.Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formCase_Hanoff_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>formCase_Hanoff_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formFROMregion</name>
                    <fieldText>&lt;p&gt;FROM:{!getCaseRecord.Owner:User.CS_Region__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>formCase_Hanoff_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmpCaseHandoffRecord.To_Region__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>tmpHandoff_Notes</name>
            <defaultValue>
                <stringValue>* Business Impact
* Reason for Handoff:
* Problem summary:
* Action Taken:
* Publisher Id:
* Environment:
* Frequency:
* URL(s):
* Location of problem:
*Other information /Anticipated Next Steps?
</stringValue>
            </defaultValue>
            <fieldText>Handoff Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>formAcceptedByUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Accepted By</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>formErrorThe_case_is_monitored</name>
        <label>The case is monitored</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>formMonitorMyCase</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 2, 2); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You can not handoff a case that has &quot;Monitor My case&quot; on.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>formNeedsOwner</name>
        <label>formNeedsOwner</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>formErrorOwner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(2, 2, 2); font-size: 16px;&quot;&gt;The case must have a valid owner before handing it over.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(2, 2, 2); font-size: 16px;&quot;&gt;Current Owner: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!getCaseRecord.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!getCaseRecord.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;OwnerId: {!getCaseRecord.OwnerId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;CSRole: {!getCaseRecord.Owner:User.CS_Role__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Work with your manager to make assign the case to a TSRep before creating the handoff.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_access_the_record</name>
        <label>Unable to access the record</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Unable to access the record:&lt;/p&gt;&lt;p&gt;{!recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again. If you need further assistance please email &lt;strong&gt;bsts@brightcove.com&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpCaseHandoffRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Handoff__c</objectType>
    </variables>
</Flow>
