unpackaged/main/default/flows/Case_Priority_change_downgraded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Case - Priority change: downgraded</description>
        <name>Case_Priority_change_downgraded</name>
        <label>Case - Priority change: downgraded</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <actionName>Case.Case_Priority_change_downgraed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isModifiedbyCustomers</name>
        <label>isModifiedbyCustomers</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPortalCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isTechnicalSupportCase</targetReference>
            </connector>
            <label>isPortalCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>isP2OrP3</name>
        <label>isP2OrP3</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isP2orP3Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 - Important</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3 - Normal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Priority_change_downgraded</targetReference>
            </connector>
            <label>isP2orP3Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPriority</name>
        <label>isPriorPriority</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P1 - Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isP2OrP3</targetReference>
            </connector>
            <label>P1</label>
        </rules>
        <rules>
            <name>P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P2 - Important</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Priority_change_downgraded</targetReference>
            </connector>
            <label>P2</label>
        </rules>
    </decisions>
    <decisions>
        <name>isTechnicalSupportCase</name>
        <label>isTechnicalSupportCase</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTechnicalSupportYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isPriority</targetReference>
            </connector>
            <label>isTechnicalSupportYes</label>
        </rules>
    </decisions>
    <description>Case - Priority change: downgraded</description>
    <environments>Default</environments>
    <interviewLabel>Case - Priority change: downgraded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Priority change: downgraded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isModifiedbyCustomers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
