unpackaged/main/default/flows/Case_DMCA_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DMCA_Notification</name>
        <label>DMCA Notification</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Case.DMCA_Notification</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Case - DMCA Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - DMCA Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePriorityToP1</name>
        <label>updatePriorityToP1</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>DMCA_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P1 - Critical</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updatePriorityToP1</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Status}, &quot;New&quot;) &amp;&amp; CONTAINS({!$Record.Subject}, &quot;LIVE CONTENT&quot;) &amp;&amp; CONTAINS({!$Record.Subject}, &quot;Copyright&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
