unpackaged/main/default/flows/CaseComment_UpdateLatestComment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isCreatedBy</name>
        <label>WhoisCreatedBy</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WhoIsCreatedBy_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_HasNewComment</targetReference>
            </connector>
            <label>WhoIsCreatedBy_customer</label>
        </rules>
    </decisions>
    <description>When a new comment is created by the customer, it stores the value into the &quot;Latest Comment&quot; field.</description>
    <environments>Default</environments>
    <formulas>
        <name>tmpFLatestComment</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CommentBody}, 1024)</expression>
    </formulas>
    <interviewLabel>CaseComment - UpdateLatestComment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseComment - UpdateLatestComment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_HasNewComment</name>
        <label>update_HasNewComment</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Case_Has_New_Comment_del__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Comment__c</field>
            <value>
                <elementReference>tmpFLatestComment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isCreatedBy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommentBody</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmpLatestComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LEFT({!$Record.CommentBody}, 1024)</text>
    </textTemplates>
</Flow>
