unpackaged/main/default/flows/Case_NeedToCloseFlagByPortalUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>initCaseComment</name>
        <label>initCaseComment</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseCommentNeedToClose.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpCaseCommentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseCommentNeedToClose.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseCommentNeedToClose.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseComment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isPortal</name>
        <label>isPortal</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPortalYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>initCaseComment</targetReference>
            </connector>
            <label>isPortalYes</label>
        </rules>
    </decisions>
    <description>Portal customer request closure - Case switch to need to close and add a final comment</description>
    <environments>Default</environments>
    <formulas>
        <name>tmpCaseCommentBody</name>
        <dataType>String</dataType>
        <expression>IF(  CONTAINS(TEXT({!$User.LanguageLocaleKey}) ,&#39;Japanese&#39;)  ,&quot;お客様によってサポートケースのクローズが依頼されました。&quot;,&quot;Customer requested Case to be closed.&quot;)</expression>
    </formulas>
    <interviewLabel>Case - NeedToCloseFlagByPortalUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - NeedToCloseFlagByPortalUser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCaseComment</name>
        <label>createCaseComment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateCaseStatus</targetReference>
        </connector>
        <inputReference>tmpCaseCommentNeedToClose</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updateCaseStatus</name>
        <label>updateCaseStatus</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Need To Close</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isPortal</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_closure__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpCaseCommentNeedToClose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
</Flow>
