unpackaged/main/default/flows/Case_NewCSEscalationAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Add_CS_Leadership_to_Escalation</name>
        <label>Case - Add CS Leadership to Escalation</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Case_Add_CS_Leadership_to_Escalation</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Email_CS_Leadership_with_new_Case_Escalation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Email_CS_Leadership_with_new_Case_Escalation</name>
        <label>Email CS Leadership with new Case Escalation</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Case.Email_CS_Leadership_with_new_Case_Escalation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateAdditionalCC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>isCSEscalation</name>
        <label>isCSEscalation</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Add_CS_Leadership_to_Escalation</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - NewCSEscalationAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - NewCSEscalationAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateAdditionalCC</name>
        <label>updateAdditionalCC</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>E2CP__AdditionalCC__c</field>
            <value>
                <stringValue>cs_leadership@brightcove.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isCSEscalation</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
