unpackaged/main/default/flows/Case_Close_Case_Form_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>closedStatus_Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>closedStatus_Closed_First_Response</name>
        <choiceText>Closed - First Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - First Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>closedStatus_Closed_Unresolved</name>
        <choiceText>Closed - Unresolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Unresolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>closedStatus_ClosedasDuplicate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Closed as Duplicate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed as Duplicate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>closeConditions</name>
        <label>closeConditions</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>updateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noBCCaseReason</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Root_Cause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Case_Close_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Case_Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formMissingInformationTitle</targetReference>
            </connector>
            <label>noBCCaseReason</label>
        </rules>
        <rules>
            <name>rootCauseNeedSubRoot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Root_Cause__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.Root_Cause_Sub_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>formMissingInformationTitle</targetReference>
            </connector>
            <label>rootCauseNeedSubRoot</label>
        </rules>
        <rules>
            <name>rootCauseNotRequired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCase</targetReference>
            </connector>
            <label>rootCauseNotRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>getCaseRecordType</name>
        <label>getCaseRecordType</label>
        <locationX>930</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTechnicalSupport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TS_Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_Details</targetReference>
            </connector>
            <label>isTechnicalSupportEscalationTSDocs</label>
        </rules>
        <rules>
            <name>isNOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC_Cases</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Close_Case_Details</targetReference>
            </connector>
            <label>isNOC</label>
        </rules>
        <rules>
            <name>isSalesDesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_ServiceDesk</stringValue>
                </rightValue>
            </conditions>
            <label>isSalesDesk</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseCloseStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>casestatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpCommunicationChannel</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Communication_Channels_external__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpDocumentUsed</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Documentation_Used__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case - Close Case Form 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Close Case Form 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>930</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateCase</name>
        <label>Copy 1 of updateCase</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Summary__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Close_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_reason__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Sub_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Channels_external__c</field>
            <value>
                <elementReference>formCommunication_Channel_external</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_Used__c</field>
            <value>
                <elementReference>formDocumentation_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <elementReference>getCaseRecord.New_Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Contact_on_Close_Case__c</field>
            <value>
                <elementReference>getCaseRecord.Notify_Contact_on_Close_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>getCaseRecord.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>getCaseRecord.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Copy_1_of_Close_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Summary__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Close_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_reason__c</field>
            <value>
                <elementReference>getCaseRecord.Case_Sub_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Channels_external__c</field>
            <value>
                <elementReference>formCommunication_Channel_external</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_Used__c</field>
            <value>
                <elementReference>formDocumentation_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <elementReference>getCaseRecord.New_Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Contact_on_Close_Case__c</field>
            <value>
                <elementReference>getCaseRecord.Notify_Contact_on_Close_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Case_Sub_Reason__c</field>
            <value>
                <elementReference>getCaseRecord.Other_Case_Sub_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>getCaseRecord.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>getCaseRecord.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Close_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Complete the following form before closing the case</description>
        <name>Close_Case_Details</name>
        <label>Close Case Details</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>closeConditions</targetReference>
        </connector>
        <fields>
            <name>Close_Case_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Case_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordIdTextDisplay</name>
                    <fieldText>&lt;p&gt;You are closing case number  {!getCaseRecord.CaseNumber} &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>tmpSupportPackage</name>
                    <fieldText>&lt;p&gt;Support Package: &lt;strong&gt;{!getCaseRecord.Support_Package__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Case_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tmpCaseRecordType</name>
                    <fieldText>&lt;p&gt;Case type: {!getCaseRecord.RecordType.Name} &lt;/p&gt;&lt;p&gt;Case Origin: {!getCaseRecord.Origin}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>tmpSubject</name>
                    <fieldText>&lt;p&gt;Subject: {!getCaseRecord.Subject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>tmpPriority</name>
                    <fieldText>&lt;p&gt;Priority: {!getCaseRecord.Priority}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>tmpGlossaryandRootCause</name>
                    <fieldText>&lt;p&gt;Click here for &lt;a href=&quot;https://docs.google.com/spreadsheets/d/113yo-RWrlAuILrZYj-IHBfNcOKsIHQdZC_fXhJU8TEE/edit#gid=1521020600&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Glossary and Root cause&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Product__c</objectFieldReference>
        </fields>
        <fields>
            <name>Close_Case_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Case_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.New_Case_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Case_Sub_reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Other_Case_Sub_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Case_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Tier__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Root_Cause__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Root_Cause_Sub_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Case_Language__c</objectFieldReference>
        </fields>
        <fields>
            <name>Close_Case_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Case_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formDocumentation_Used</name>
                    <choiceReferences>tmpDocumentUsed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Documentation Used (multiple choice)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Case_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formCommunication_Channel_external</name>
                    <choiceReferences>tmpCommunicationChannel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Communication Channel (external) (multiple choice)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Case_Close_Summary__c</objectFieldReference>
        </fields>
        <fields>
            <name>Close_Case_Status</name>
            <choiceReferences>closedStatus_Closed</choiceReferences>
            <choiceReferences>closedStatus_Closed_First_Response</choiceReferences>
            <choiceReferences>closedStatus_Closed_Unresolved</choiceReferences>
            <choiceReferences>closedStatus_ClosedasDuplicate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Close Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Notify_Contact_on_Close_Case__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>flowRunningUserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technical_Support_Manager</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Complete the following form before closing the case</description>
        <name>Copy_1_of_Close_Case_Details</name>
        <label>Copy 1 of Close Case Details</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_updateCase</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Close_Case_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_recordIdTextDisplay</name>
                    <fieldText>&lt;p&gt;You are closing case number  {!getCaseRecord.CaseNumber} &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_tmpSupportPackage</name>
                    <fieldText>&lt;p&gt;Support Package: &lt;strong&gt;{!getCaseRecord.Support_Package__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_tmpCaseRecordType</name>
                    <fieldText>&lt;p&gt;Case type: {!getCaseRecord.RecordType.Name} &lt;/p&gt;&lt;p&gt;Case Origin: {!getCaseRecord.Origin}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_tmpSubject</name>
                    <fieldText>&lt;p&gt;Subject: {!getCaseRecord.Subject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_tmpPriority</name>
                    <fieldText>&lt;p&gt;Priority: {!getCaseRecord.Priority}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_tmpGlossaryandRootCause</name>
                    <fieldText>&lt;p&gt;Click here for &lt;a href=&quot;https://docs.google.com/spreadsheets/d/113yo-RWrlAuILrZYj-IHBfNcOKsIHQdZC_fXhJU8TEE/edit#gid=1521020600&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Glossary and Root cause&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Close_Case_Status</name>
            <choiceReferences>closedStatus_Closed</choiceReferences>
            <choiceReferences>closedStatus_Closed_First_Response</choiceReferences>
            <choiceReferences>closedStatus_Closed_Unresolved</choiceReferences>
            <choiceReferences>closedStatus_ClosedasDuplicate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Close Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Close_Case_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Case_Language__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Product__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Tier__c</objectFieldReference>
        </fields>
        <fields>
            <name>Copy_1_of_Close_Case_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.New_Case_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Root_Cause__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Close_Case_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Case_Sub_reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseRecord.Root_Cause_Sub_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Case_Close_Summary__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseRecord.Notify_Contact_on_Close_Case__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>flowRunningUserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technical_Support_Manager</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>formMissingInformationTitle</name>
        <label>formMissingInformationTitle</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
        <fields>
            <name>tmpHeaderMissingInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The following information on the Close Case form is missing:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tmpBCCaseReasonMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;**&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; BC Case Reason&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpCaseSubReasonMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Case Sub reason&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpOtherCaseSubReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;Other&quot; Case Sub reasons&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>3rd Party Integration - Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Media Module - (Other)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Devices</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Error Code</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Plugins - Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Runtime restrictions (JWT) - Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Sub_reason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Video Metadata (Other)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpCaseTriageMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Case Triage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Tier__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpRootCaseMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Root Cause&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Root_Cause__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Support Operations</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Support Portal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpAdditionalInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Root Cause Sub Reason  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Root_Cause__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>User Error</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Support Operations</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCaseRecord.New_Case_Reason__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Support Portal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>formCaseSummaryMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Close Case Summary&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Close_Summary__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpCaseLanguageMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;** &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case Language&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCaseRecord.Case_Language__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tmpFooter</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Press on the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;BACK&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt; button and populate the required fields before closing the case. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>flowRunningUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$UserRole.DeveloperName</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
