unpackaged/main/default/flows/Case_CloseFormV3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>tmpClosedasDuplicate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Closed as Duplicate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed as Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpClosedFirstResponse</name>
        <choiceText>Closed - First Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - First Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpClosedNoResponse</name>
        <choiceText>Closed - No Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - No Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpClosedSpam</name>
        <choiceText>Closed - Spam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Spam</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpClosedStatus</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>tmpClosedUnresolved</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Closed - Unresolved&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Unresolved</stringValue>
        </value>
    </choices>
    <decisions>
        <name>caseRecordType</name>
        <label>caseRecordType</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToClose.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Technical Support</label>
        </rules>
        <rules>
            <name>NOC_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToClose.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Close_Case</targetReference>
            </connector>
            <label>NOC Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_otherReasonRequires</name>
        <label>Copy 1 of otherReasonRequires</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_updateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_caseSubReasonOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToClose.Case_Sub_reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formOther_Case_sub_reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Field_Required</targetReference>
            </connector>
            <label>Copy 1 of caseSubReasonOther</label>
        </rules>
    </decisions>
    <decisions>
        <name>otherReasonRequires</name>
        <label>otherReasonRequires</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>updateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>caseSubReasonOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToClose.Case_Sub_reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formOther_Case_sub_reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formErrorField_Required</targetReference>
            </connector>
            <label>caseSubReasonOther</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>tmpBCCaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>New_Case_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpCaseSubReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Case_Sub_reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpCaseTriage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tier__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpCommunicationChannels</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Communication_Channels__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpDocumentationUsed</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Documentation_Used__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Case_Language__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Product__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tmpStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>flowRunningUserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.DeveloperName}</expression>
    </formulas>
    <interviewLabel>Case - CloseFormV3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - CloseFormV3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCaseToClose</name>
        <label>getCaseToClose</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateCase</name>
        <label>Copy 1 of updateCase</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseToClose.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Summary__c</field>
            <value>
                <elementReference>formClose_Case_Summary4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>formLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_reason__c</field>
            <value>
                <elementReference>getCaseToClose.Case_Sub_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <elementReference>getCaseToClose.New_Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Contact_on_Close_Case__c</field>
            <value>
                <elementReference>getCaseToClose.Notify_Contact_on_Close_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Case_Sub_Reason__c</field>
            <value>
                <elementReference>Copy_2_of_formOther_Case_sub_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_Sub_Reason__c</field>
            <value>
                <elementReference>getCaseToClose.Root_Cause_Sub_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause__c</field>
            <value>
                <elementReference>getCaseToClose.Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Copy_1_of_formStatus2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <elementReference>Copy_2_of_formCase_Triage_Tier</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseToClose.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Summary__c</field>
            <value>
                <elementReference>formClose_Case_Summary4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>formLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_reason__c</field>
            <value>
                <elementReference>getCaseToClose.Case_Sub_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Channels_external__c</field>
            <value>
                <elementReference>getCaseToClose.Communication_Channels__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_Used__c</field>
            <value>
                <elementReference>getCaseToClose.Documentation_Used__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <elementReference>getCaseToClose.New_Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Contact_on_Close_Case__c</field>
            <value>
                <elementReference>getCaseToClose.Notify_Contact_on_Close_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Case_Sub_Reason__c</field>
            <value>
                <elementReference>formOther_Case_sub_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_Sub_Reason__c</field>
            <value>
                <elementReference>getCaseToClose.Root_Cause_Sub_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause__c</field>
            <value>
                <elementReference>getCaseToClose.Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>formStatus2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <elementReference>formCase_Triage_Tier</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>otherReasonRequires</targetReference>
        </connector>
        <fields>
            <name>header_Close_Case_Screen1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Close Case &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tmpGlossaryLink</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click here for &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/113yo-RWrlAuILrZYj-IHBfNcOKsIHQdZC_fXhJU8TEE/edit#gid=1521020600&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;Glossary and Root cause&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formStatus2</name>
            <choiceReferences>tmpClosedStatus</choiceReferences>
            <choiceReferences>tmpClosedFirstResponse</choiceReferences>
            <choiceReferences>tmpClosedasDuplicate</choiceReferences>
            <choiceReferences>tmpClosedNoResponse</choiceReferences>
            <choiceReferences>tmpClosedUnresolved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Information</name>
            <fieldText>Case Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Product__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.New_Case_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Case_Sub_reason__c</objectFieldReference>
                </fields>
                <fields>
                    <name>formOther_Case_sub_reason</name>
                    <fieldText>Other Case sub reason</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formLanguage</name>
                    <choiceReferences>tmpLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>English</stringValue>
                    </defaultValue>
                    <fieldText>Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>formCase_Triage_Tier</name>
                    <choiceReferences>tmpCaseTriage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Triage Tier</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Root_Cause__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Root_Cause_Sub_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseToClose.Documentation_Used__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseToClose.Communication_Channels__c</objectFieldReference>
        </fields>
        <fields>
            <name>formClose_Case_Summary4</name>
            <defaultValue>
                <stringValue>{!getCaseToClose.Case_Close_Summary__c}</stringValue>
            </defaultValue>
            <fieldText>Close Case Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getCaseToClose.Notify_Contact_on_Close_Case__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>flowRunningUserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technical_Support_Manager</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Close_Case</name>
        <label>Copy 1 of Close Case</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_otherReasonRequires</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_header_Close_Case_Screen1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Close Case &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_tmpGlossaryLink</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click here for &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/113yo-RWrlAuILrZYj-IHBfNcOKsIHQdZC_fXhJU8TEE/edit#gid=1521020600&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;Glossary and Root cause&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_formStatus2</name>
            <choiceReferences>tmpClosedStatus</choiceReferences>
            <choiceReferences>tmpClosedFirstResponse</choiceReferences>
            <choiceReferences>tmpClosedasDuplicate</choiceReferences>
            <choiceReferences>tmpClosedNoResponse</choiceReferences>
            <choiceReferences>tmpClosedUnresolved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Case_Information</name>
            <fieldText>Case Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Case_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Product__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.New_Case_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Case_Sub_reason__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_2_of_formOther_Case_sub_reason</name>
                    <fieldText>Other Case sub reason</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Case_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_formLanguage</name>
                    <choiceReferences>tmpLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>English</stringValue>
                    </defaultValue>
                    <fieldText>Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_2_of_formCase_Triage_Tier</name>
                    <choiceReferences>tmpCaseTriage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Triage Tier</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Root_Cause__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getCaseToClose.Root_Cause_Sub_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>form2Close_case_summary</name>
            <defaultValue>
                <stringValue>{!getCaseToClose.Case_Close_Summary__c}</stringValue>
            </defaultValue>
            <fieldText>Close case summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Close Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Field_Required</name>
        <label>Copy 1 of Field Required</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_formErrorPage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;Other Sub reason&quot; is required. Please use the &quot;Back&quot; button to go back to the previous screen. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>formErrorField_Required</name>
        <label>Field Required</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>formErrorPage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;Other Sub reason&quot; is required. Please use the &quot;Back&quot; button to go back to the previous screen. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseToClose</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpCloseCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tmpFinalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
