unpackaged/main/default/flows/ChatTrascript_AddCaseComment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetPlainTextString</name>
        <label>GetPlainTextString</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>StringAutomation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>initCaseComment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richTextList</name>
            <value>
                <elementReference>$Record.Body</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>tmpPlainBody</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>initCaseComment</name>
        <label>initCaseComment</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>tmpNewCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpNewCaseComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpPlainBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpNewCaseComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseCommentWithChat</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ChatTrascript - AddCaseComment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatTrascript - AddCaseComment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCaseCommentWithChat</name>
        <label>createCaseCommentWithChat</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>tmpNewCaseComment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCaseFromChat</name>
        <label>getCaseFromChat</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPlainTextString</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseFromChat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpNewCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>tmpPlainBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
