unpackaged/main/default/flows/CoachingNotes_NewCoachingNotesInitFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>coachingRecepientNull</name>
        <label>coachingRecepientNull</label>
        <locationX>512</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoachingOwnerAndRecipientNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coaching_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coaching_Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isCoachingRecepient</targetReference>
            </connector>
            <label>CoachingOwnerAndRecipientNull</label>
        </rules>
        <rules>
            <name>coachingRecepientNull_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coaching_Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCoacingRecipient</targetReference>
            </connector>
            <label>coachingRecepientNull_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCoachingRecepient</name>
        <label>isCoachingRecepient</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>updateCoachingRecipientWManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCoachingRecepient_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coaching_Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCoarchingOwnerWUserManager</targetReference>
            </connector>
            <label>isCoachingRecepient_null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoachingNotes - NewCoachingNotesInitFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoachingNotes - NewCoachingNotesInitFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateCoachingRecipientWManager</name>
        <label>updateCoachingRecipientWManager</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Coaching_Owner__c</field>
            <value>
                <elementReference>$Record.Coaching_Recipient__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCoacingRecipient</name>
        <label>updateCoacingRecipient</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Coaching_Recipient__c</field>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCoarchingOwnerWUserManager</name>
        <label>updateCoarchingOwnerWUserManager</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Coaching_Owner__c</field>
            <value>
                <elementReference>$Record.Case__r.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateFields</name>
        <label>updateFields</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>coachingRecepientNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Coaching_Requested_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coaching_Requested_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needs_manager_review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateFields</targetReference>
        </connector>
        <object>Coaching_Notes__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
