unpackaged/main/default/flows/Contract_Before_Insert_Default_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Amendment_Record_Type_Id</name>
        <label>Assign Amendment Record Type Id</label>
        <locationX>528</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>AmendmentRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opp_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opp_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Record_Type_Id</name>
        <label>Assign Renewal Record Type Id</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>RenewalRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opp_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opp_Record_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Type_Name</name>
        <label>Record Type Name?</label>
        <locationX>528</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Iterate_Opp_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opp_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal_Record_Type_Id</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Opp_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Amendment_Record_Type_Id</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - Before Insert - Default Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Before Insert - Default Values</label>
    <loops>
        <name>Iterate_Opp_Record_Types</name>
        <label>Iterate Opp Record Types</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunity_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contract_Defaults</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record_Types</name>
        <label>Get Opportunity Record Types</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opp_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Contract_Defaults</name>
        <label>Set Contract Defaults</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Bill_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__AmendmentOpportunityRecordTypeId__c</field>
            <value>
                <elementReference>AmendmentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__AmendmentPricebookId__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalOpportunityRecordTypeId__c</field>
            <value>
                <elementReference>RenewalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalPricebookId__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Types</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmendmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
