unpackaged/main/default/flows/Live_Event_CreateSlackAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Alert to CS_Leadership that an LE is created Pro Bono</description>
        <name>Alert_to_CS_Leadership_that_an_LE_is_created_Pro_Bono</name>
        <label>Alert to CS_Leadership that an LE is created Pro Bono</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Live_Event_Coverage__c.LE_marked_as_Pro_bono</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Live Event Coverage Created</description>
        <name>Live_Event_Coverage_Created</name>
        <label>Live Event Coverage Created</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>Live_Event_Coverage__c.Live_Event_Coverage_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Live_Event_Created_Outbound</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Live Event Created Outbound</description>
        <name>Live_Event_Created_Outbound</name>
        <label>Live Event Created Outbound</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <actionName>Live_Event_Coverage__c.Live_Event_Created_Outbound</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>isProBono</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isProBono</name>
        <label>isProBono</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pro_bono__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_to_CS_Leadership_that_an_LE_is_created_Pro_Bono</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isTechnicalSupportRequest</name>
        <label>isTechnicalSupportRequest</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTechnicalSupportRequest_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live_Event_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Live_Event_Coverage_Created</targetReference>
            </connector>
            <label>isTechnicalSupportRequest_YES</label>
        </rules>
    </decisions>
    <description>Live Event Created Outbound: it sends an email alert, and an outbound message. If it&#39;s PROBONO, it sends an email to cs_leadership. No Calculation</description>
    <environments>Default</environments>
    <formulas>
        <name>tmpCoverageDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!$Record.Event_Start_Date__c}) &amp; &quot; &quot; &amp; {!$Record.Event_Start_Time__c} 
)</expression>
    </formulas>
    <formulas>
        <name>tmpEventStartTime</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Event_Start_Time__c},8)</expression>
    </formulas>
    <interviewLabel>Live Event - CreateSlackAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Event Coverage - New coverage created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isTechnicalSupportRequest</targetReference>
        </connector>
        <object>Live_Event_Coverage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpEventStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpEventStartTime2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
