unpackaged/main/default/flows/LiveEventCoverage_UpdateAccountHoursAvailable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>tmpUpdateAccount</name>
        <label>tmpUpdateAccount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Live_Event_Support_hours_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpNewLIveHoursAvailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.Live_Event_Support_Hours_used__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpNewHoursUsedSoFar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountRecords</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>tmpNewHoursUsedSoFar</name>
        <dataType>Number</dataType>
        <expression>{!getAccount.Live_Event_Support_Hours_used__c}+{!$Record.Hours_Covered_So_Far__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>tmpNewLIveHoursAvailable</name>
        <dataType>Number</dataType>
        <expression>{!getAccount.Live_Event_Support_hours_available__c} - {!$Record.Hours_Covered_So_Far__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LiveEventCoverage - UpdateAccountHoursAvailable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LiveEventCoverage - UpdateAccountHoursAvailable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tmpUpdateAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountRecords</name>
        <label>updateAccountRecords</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Completed [Off-Hours]</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pro_bono__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Live_Event_Coverage__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
