unpackaged/main/default/flows/LiveEventTestCheckList_UpdateLiveEventChecklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CopyJobDetails</name>
        <label>CopyJobDetails</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Copy_Job_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_same_details_for_Backup_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_same_details_for_Backup_Job__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLiveEventChecklist</targetReference>
            </connector>
            <label>Yes Copy Job Details</label>
        </rules>
        <rules>
            <name>Delete_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_same_details_for_Backup_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_same_details_for_Backup_Job__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDeleteBackup</targetReference>
            </connector>
            <label>Delete Details</label>
        </rules>
        <rules>
            <name>ReportSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Live_Event_Test_Report_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Live_Event_Test_Report_Sent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLiveEventReportSent</targetReference>
            </connector>
            <label>ReportSent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LiveEventTestCheckList - UpdateLiveEventChecklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LiveEventTestCheckList - UpdateLiveEventChecklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateDeleteBackup</name>
        <label>updateDeleteBackup</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Backup_GOP_Structure__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Audiodatarate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Audiosamplerate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_CBR_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Framerate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Height__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Keyframerate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Width__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Profile__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLiveEventChecklist</name>
        <label>updateLiveEventChecklist</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Backup_GOP_Structure__c</field>
            <value>
                <elementReference>$Record.GOP_Structure_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Audiodatarate__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Audiodatarate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Audiosamplerate__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Audiosamplerate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Bitrate__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Bitrate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_CBR_Enabled__c</field>
            <value>
                <elementReference>$Record.Primary_Job_CBR_Enabled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Framerate__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Framerate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Height__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Height__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Keyframerate__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Keyframerate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Job_Width__c</field>
            <value>
                <elementReference>$Record.Primary_Job_Width__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backup_Profile__c</field>
            <value>
                <elementReference>$Record.Primary_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLiveEventReportSent</name>
        <label>updateLiveEventReportSent</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Live_Event_Test_Report_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CopyJobDetails</targetReference>
        </connector>
        <object>Live_Event_Checklist__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
