unpackaged/main/default/flows/TSSurvey_CSAT_Low_Score_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSAT_Low_Score</name>
        <label>CSAT Low Score</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Survey__c.When_the_CSAT2015_survey_has_a_score_of_less_than_8_on_any_question_a_email_aler</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>TS - Survey Low Score Alert</description>
        <name>TS_Survey_Low_Score_Alert</name>
        <label>TS - Survey Low Score Alert</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>Survey__c.TS_Survey_Low_Score_Alert</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>CSAT_Low_Score</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Send an email alert and a outboud message when CSAT is low</description>
    <environments>Default</environments>
    <interviewLabel>TSSurvey - CSAT Low Score alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TSSurvey - CSAT Low Score alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TS_Survey_Low_Score_Alert</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</filterLogic>
        <filters>
            <field>Overall_Satisfaction_with_support__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Overall_Satisfaction_with_support__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_professionalism__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_professionalism__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_specialist_knowledge__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_specialist_knowledge__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Effectiveness_of_resolution_of_case__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Effectiveness_of_resolution_of_case__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <object>Survey__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
