unpackaged/main/default/flows/updateLiveHoursAvailable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotEnoughHoursEmailAlert</name>
        <label>NotEnoughHoursEmailAlert</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>updatetmpAvailableHours</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmpNotEnoughHoursEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getAccount.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmpSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignAvailablehours</name>
        <label>assignAvailablehours</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveHoursAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Live_Event_Support_hours_available__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>availableHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatetmpAvailableHours</name>
        <label>updatetmpAvailableHours</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>tmpLiveHoursAvailable</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Hours_Covered_So_Far__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountLiveHoursAvailable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>availableHours</name>
        <label>availableHours</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>NotEnoughHoursEmailAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tmpLiveHoursAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Hours_Covered_So_Far__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatetmpAvailableHours</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>updateLiveHoursAvailable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Event Coverage - LECompletedUpdateAccountLiveHoursAvailable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignAvailablehours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountLiveHoursAvailable</name>
        <label>updateAccountLiveHoursAvailable</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Live_Event_Support_hours_available__c</field>
            <value>
                <elementReference>tmpLiveHoursAvailable</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pro_bono__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Live_Event_Coverage__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmpNotEnoughHoursEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!getAccount.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Account has purchased a total of {!getAccount.Total_Live_Event_Support_hours_sold__c} hours and {!getAccount.Live_Event_Support_hours_available__c} hours are currently available for Live Event Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Live Event Support has been completed with {!$Record.Hours_Covered_So_Far__c} total number of hours covered by the support team. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;GC&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmpSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!getAccount.Name} requires more Live Event Support hours&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>tmpLiveHoursAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
